<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.mapper.BoardMapper">
   <select id="selectAll" resultType="com.java.dto.BoardDto">
      select * from board order by bgroup desc, bstep asc
      <!-- 
      select bno,id,btitle,bcontent,to_char(bdate,'yyyy-MM-dd hh:mm:ss') as bdate, 
      bhit,bgroup,bstep,bindent,bfile from board
       -->
   </select> 
   
   <select id="selectOne" resultType="com.java.dto.BoardDto">
      select * from board where bno=#{bno}
   </select>


</mapper>