<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.mapper.HealthMapper">

	<!-- 점수 저장 -->
	<insert id="insertOne">
		INSERT INTO SELF_CARE VALUES(sc_seq.nextval,#{auth_id},#{demen},#{arth},#{hyper},#{diabet},#{cerebro},sysdate)
	</insert>
	
	<!-- 점수 가져오기 -->
	<select id="selectAll">
		SELECT * FROM SELF_CARE WHERE AUTH_ID=#{auth_id} 
	</select>

</mapper>